# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
server

# Test binaries & coverage
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# Env
.env

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
